@model Assignment_06.Models.BdCard

@{
    Layout = null;
}

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <style>
        .btn a {
            color: white;
            text-decoration: none;
        }

        body {
            background-color: #f1f1f1;
        }
    </style>
</head>
<body>
    <div class="text-center">
        <h1>Birthday Card Sent</h1>
    </div>
    @using (Html.BeginForm())
    {
        @Html.ValidationSummary()
        <p> <label>From:</label> @Html.TextBoxFor(t => t.From) </p>
        <p> <label>To:</label> @Html.TextBoxFor(t => t.To) </p>
        <p> <label>Message:</label> @Html.TextBoxFor(t => t.Message) </p>

    }
</body>
</html>